<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fooderie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".rbWebsite"></activity>
        <activity android:name=".rbSelected" />
        <activity android:name=".rbActivity" />
        <activity
            android:name="fooderie.mealPlanner.views.MealPlannerViewer"
            android:label="@string/title_activity_meal_planner_viewer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GroceryList" />
        <activity
            android:name="fooderie.mealPlanner.views.PlanRecyclerView"
            android:label="@string/title_activity_mealplanner_recyclerview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="fooderie.groceryList.GroceryList" />
        <activity android:name="fooderie.CookingAssistant.views.CookingAssistantViewer" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>