<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fooderie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="fooderie._main.App"
        android:allowBackup="true"
        android:icon="@mipmap/fooderie_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fooderie_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="fooderie.options.OptionsActivity"
            android:label="@string/title_activity_options" />
        <activity android:name="fooderie.recipeBrowser.views.rbWebsite" />
        <activity android:name="fooderie.recipeBrowser.views.rbDisplay" />
        <activity android:name="fooderie.recipeBrowser.views.rbSearch" />
        <activity android:name="fooderie.mealPlanner.views.mpPlanRecipeDisplayView" />
        <activity android:name="fooderie.scheduler.views.sWeeklyScheduleFragment_Proxy" />
        <activity android:name="fooderie.groceryList.views.GroceryListView" />
        <activity android:name="fooderie.CookingAssistant.views.CookingAssistantViewer" />
        <activity android:name="fooderie.CookingAssistant.views.CookingAssistantPreview" />
        <activity android:name="fooderie.CookingAssistant.views.CookingAssistantTimerView" />
        <activity
            android:name="fooderie._main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="fooderie._main.models.ReminderBroadcast"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>